{% include "components/header.html" %}
<div class="container my-5">
        <div class="d-flex justify-content-around mb-4">
            <a href="{%  url 'kids' %}" class="btn btn-primary">Для стариков</a>
            <a href="{%  url 'younger' %}" class="btn btn-secondary">Для молодых</a>
            <a href="{%  url 'older' %}" class="btn btn-secondary">Для детей</a>
        </div>

    
    <div class="container mt-4 content">
    <div class="row justify-content-center">
        {% for i in alls %}
        <!-- Пример карточки книги -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.price }}</p>
                    
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Добавьте дополнительные карточки книг здесь -->
    </div>
</div>




{% include "components/footer.html" %}